<%= render "shared/header" %>
<div class='main'>


  <div class='title-contents'>
      <h2 class='service-title'>
        FootScoring
      </h2>
      <p class='service-explain'>
        選手を採点し
      </p>
      <p class='service-explain'>
        自分自身のMVPを決めろ！！！
      </p>
  </div>

  <div class='item-contents'>
      <h2 class='title'>最新情報</h2>
      <%= link_to '試合結果', "#", class: "subtitle" %>
  </div>



  <div class= 'game'>
  <% @foots.each do |foot| %>
    <div class='sss'>
    <div class='foot-img-content'>
      <% foot.images.each do |image| %>
      <%= image_tag image.variant(resize: '100x100'), class: 'images'%>
      <% end %> 
    </div>

    <%= link_to foot_path(foot.id) do %>
    <div class='team-name'>
      <div class='item-name'>
        <%= foot.ateam %>
      </div>
      <div class='ttt'>VS</div>
      <div class='item-name'>
        <%= foot.bteam %>
      </div>
    </div>
    <% end %>
    <div class='foot-name'>
      <div class='away-name'>
        <%= foot.ascore_id %>
      </div>
      <h2 class='yyy'>ー</h2>
      <div class='away-name'>
        <%= foot.bscore_id %>
      </div>
    </div>
    </div>
  <% end %>
  </div>
</div>







<%= link_to new_foot_path do%> 
<div class='purchase-btn'>
  <span class='purchase-btn-text'>結果投稿</span>
    <%= image_tag 'soccer.png' , size: '185x50' ,class: "purchase-btn-icon" %>
</div>
<% end %>



<%# <%= render "shared/footer" %> 