<%= render "shared/header" %>
<div class='main'>


  <div class='title-contents'>
      <div class='lists-right'>
      <h2 class='service-title'>
        FootScoring
      </h2>
      <p class='service-explain'>
        自分自身のMVPを決めれる！！
      </p>
      <p class='service-explain'>
        採点アプリです
      </p>
      </div>
  </div>

  <div class='item-contents'>
      <h2 class='title'>最新情報</h2>
      <%= link_to '試合結果', "#", class: "subtitle" %>
  </div>
</div>
<%= link_to new_foot_path do%> 
<div class='purchase-btn'>
  <span class='purchase-btn-text'>結果投稿</span>
    <%= image_tag 'cameraa.png' , size: '185x50' ,class: "purchase-btn-icon" %>
</div>
<% end %>
<%# <%= render "shared/footer" %> 