<%= render "shared/header" %>



<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
          <div class="card mb-6">
            <header class="card-header">
              <div class="scroll">
                <span><%= @foot.ateam %>VS<%= @foot.bteam %></span>
              </div>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= @foot.review_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= @foot.avg_score %>点（<%= @foot.reviews.count %>件の採点）
                  </div>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <%= link_to foot_reviews_path(@foot), class: "button card-footer-item" do %>
                レビューを見る
              <% end %>
              <%= link_to foot_path(@foot), class: "button card-footer-item" do %>
                レビューを書く
              <% end %>
            </footer>
        </div>

<%= render 'reviews/form', review: @review, foot: @foot %>
<div class='iciran'>
<br>
<br>
<table>
  <caption><%= @foot.ateam %></caption>
  <thead>
    <tr><th><div class='poji'>ポジション</div></th><th><div class='poji'>メンバー</div></th></tr>
  </thead>
  <tbody>
    <tr><td><a href="index">GK</a></td><td><%= @foot.one_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.two_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.three_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.four_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.five_member %></td></tr>
    <tr><td><a href="index">GK</a></td><td><%= @foot.six_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.seven_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.eight_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.nine_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.ten_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.eleven_member %></td></tr>
  </tbody>
</table>
<br>

<br>
<br>
<table>
  <caption><%= @foot.bteam %></caption>
  <thead>
    <tr><th><div class='poji'>ポジション</div></th><th><div class='poji'>メンバー</div></th></tr>
  </thead>
  <tbody>
    <tr><td><a href="index">GK</a></td><td><%= @foot.aone_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.atwo_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.athree_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.afour_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.afive_member %></td></tr>
    <tr><td><a href="index">GK</a></td><td><%= @foot.asix_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.aseven_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.aeight_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.anine_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.aten_member %></td></tr>
    <tr><td><a href="index">DF</a></td><td><%= @foot.aeleven_member %></td></tr>
  </tbody>
</table>
<br>
</div>
