<%= render "shared/header" %>


<div class="item-explain-box">
      <span><%= @foot.ateam %></span>
    </div>

<table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">GK</th>
          <td class="detail-value"><%= @foot.one_member %></td>
          <div class="rateoya">
          <div class="rate"></div>
          </div>
        </tr>
        <tr>
          <th class="detail-item">DF</th>
          <td class="detail-value"><%= @foot.two_member %></td>
        </tr>
        <tr>
          <th class="detail-item">DF</th>
          <td class="detail-value"><%= @foot.three_member %></td>
        </tr>
        <tr>
          <th class="detail-item">DF</th>
          <td class="detail-value"><%= @foot.four_member %></td>
        </tr>
        <tr>
          <th class="detail-item">DF</th>
          <td class="detail-value"><%= @foot.five_member %></td>
        </tr>
        <tr>
          <th class="detail-item">MF</th>
          <td class="detail-value"><%= @foot.six_member %></td>
        </tr>
        <tr>
          <th class="detail-item">MF</th>
          <td class="detail-value"><%= @foot.seven_member %></td>
        </tr>
        <tr>
          <th class="detail-item">MF</th>
          <td class="detail-value"><%= @foot.eight_member %></td>
        </tr>
        <tr>
          <th class="detail-item">MF</th>
          <td class="detail-value"><%= @foot.nine_member %></td>
        </tr>
        <tr>
          <th class="detail-item">FW</th>
          <td class="detail-value"><%= @foot.ten_member %></td>
        </tr>
        <tr>
          <th class="detail-item">FW</th>
          <td class="detail-value"><%= @foot.eleven_member %></td>
        </tr>
      </tbody>
    </table>


    <div class="item-explain-box">
      <span><%= @foot.bteam %></span>
    </div>

<table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">GK</th>
          <td class="detail-value"><%= @foot.aone_member %></td>
        </tr>
        <tr>
          <th class="detail-item">DF</th>
          <td class="detail-value"><%= @foot.atwo_member %></td>
        </tr>
        <tr>
          <th class="detail-item">DF</th>
          <td class="detail-value"><%= @foot.athree_member %></td>
        </tr>
        <tr>
          <th class="detail-item">DF</th>
          <td class="detail-value"><%= @foot.afour_member %></td>
        </tr>
        <tr>
          <th class="detail-item">DF</th>
          <td class="detail-value"><%= @foot.afive_member %></td>
        </tr>
        <tr>
          <th class="detail-item">MF</th>
          <td class="detail-value"><%= @foot.asix_member %></td>
        </tr>
        <tr>
          <th class="detail-item">MF</th>
          <td class="detail-value"><%= @foot.aseven_member %></td>
        </tr>
        <tr>
          <th class="detail-item">MF</th>
          <td class="detail-value"><%= @foot.aeight_member %></td>
        </tr>
        <tr>
          <th class="detail-item">MF</th>
          <td class="detail-value"><%= @foot.anine_member %></td>
        </tr>
        <tr>
          <th class="detail-item">FW</th>
          <td class="detail-value"><%= @foot.aten_member %></td>
        </tr>
        <tr>
          <th class="detail-item">FW</th>
          <td class="detail-value"><%= @foot.aeleven_member %></td>
        </tr>
      </tbody>
    </table>