<%= render "shared/header" %>



<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
          <div class="card mb-6">
            <header class="card-header">
              <div class="scroll">
                <span><%= @foot.ateam %>VS<%= @foot.bteam %></span>
              </div>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= @foot.review_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= @foot.avg_score %>点（<%= @foot.reviews.count %>件の採点）
                  </div>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <%= link_to foot_reviews_path(@foot), class: "button card-footer-item" do %>
                レビューを見る
              <% end %>
              <%= link_to foot_path(@foot), class: "button card-footer-item" do %>
                レビューを書く
              <% end %>
            </footer>
        </div>

<%= render 'reviews/form', review: @review, foot: @foot %>
